include includes/functions

extends layout

block content
  .row.page-header
    .col-lg-12
      h1= header.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +setStars(location.stars)
          p= location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Режим работы
            .panel-body
              each item in location.workingTime
                p
                    | #{item.days} : 
                    if item.isClosed
                        | closed
                    else 
                        | #{item.openTime} - #{item.closeTime}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Услуги
            .panel-body
              each item in location.services
                span.label.label-warning
                    span.glyphicon.glyphicon-ok
                    | &nbsp;#{item}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Местоположение
            .panel-body
              img.img-responsive.img-rounded(src='https://static-maps.yandex.ru/1.x/?ll=#{location.coordinates.lng},#{location.coordinates.lat}&spn=0.016457,0.00619&l=map')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/addReview') Добавить отзыв
              h2.panel-title Отзывы посетителей
            .panel-body.review-container
                each item in location.reviews
                    .row
                        .review
                        .well.well-sm.review-header
                            span.rating
                                +setStars(item.stars) 
                            span.reviewAuthor #{item.author}
                            span.reviewDate 
                                +setPrettyDateFormat(item.date)
                        .col-xs-12
                            p !{(item.text).replace(/\n/g, '<br/>')}
              
    .col-xs-12.col-md-3
      p.lead #{location.name} #{sideText.firstBlock}
      p= sideText.secondBlock