extends layout
include includes/functions


block content
  #banner.page-header
    .row
      .col-lg-6
        h1= header.title
          small &nbsp; #{header.string}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4
              a(href="/location")= location.name
              small &nbsp;
                +setStars(location.stars)
              span.badge.pull-right.badge-default= location.range
            p.address= location.address
            p
              each service in location.services
                span.label.label-warning= service
                &nbsp;
    .col-xs-12.col-sm-4
      p.lead= sideText